*{
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-image: linear-gradient(to left top, rgb(214, 69, 187) , rgb(85, 85, 215)) ;
}
.main-div{
    border: 2px solid white;
    padding: 2vh;
    height:45vh;
    width: 40vh;
}

.btn-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
}

button{
    height: 50px;
    background-color: rgb(193, 235, 235);
    border-radius: 10px;
}

input{
    width: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 7vh;
    padding: 15px;
    background-color: transparent;
    color: white;
}

h2{
    color: white;
}